/* HTML Set */
* {
  margin: auto;
}
*::-moz-focus-inner {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--a-pk1);
  color: var(--a-gy2);
}

/* Variáveis - Cor */
:root {
  --a-gn1: #00acac;
  --a-gn2: #00b2a9;
  --a-pk1: #fbd9e9;
  --a-pk2: #fac1c1;
  --a-pk3: #f18d87;
  --a-gy1: #dde3e3;
  --a-gy2: #051b26;
  --a-wt: #ffffff;
  --a-borda: 0.5rem;
}

/* Variáveis - Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --fonte: 'Montserrat', sans-serif;
}

/* FONTES*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--fonte);
}

/* Fonte Tamanho */
h1 {
  font-size: 38px;
}
/* Fonte Tamanho Mobile */
@media screen and (max-width: 1680px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 26px;
  }
}
p {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0 10px 0;
}

/* ESTADOS */
.overflow_hidden {
  overflow: hidden;
}
.display_none {
  display: none;
}

/* MAIN */
main {
  padding: 50px;
}
